server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          "[/**]":
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false
        add-to-simple-url-handler-mapping: true
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      default-filters:
        - RemoveRequestHeader=Cookie
      routes:
        - id: booking-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/bookings/**, /api/user/**, /api/booking/**
          filters:
            - RemoveRequestHeader=Cookie
        - id: hotel-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/hotels/**, /api/rooms/**
          filters:
            - RemoveRequestHeader=Cookie

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info

